.login-container {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #57382e;
}

.login-form {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  background: #57382e;
  padding: 25px;
  border-radius: 12px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.login-form input {
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: 0.2s ease;
  font-size: 14px;
}

.login-form input:focus {
  border-color: #d44e00;
  box-shadow: 0 0 0 3px rgba(212, 78, 0, 0.15);
}

.login-form label {
  font-size: 13px;
  color: wheat;
  margin-top: 5px;
}

.login-form button {
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 8px;

  background: #bb8471;
  color: white;
  font-weight: bold;

  cursor: pointer;
  transition: 0.2s ease;
}

.login-form button:hover {
  background: #d44e00;
  transform: translateY(-1px);
}

