.cont_card_home{
    width: 100%;
    max-width: 1200px; /* O el tamaño máximo que quieras para tu contenedor */
    margin: 0 auto;
    padding: 20px;
}

.cont_prod {
   display: grid;
    /* Crea columnas automáticas de mínimo 280px y máximo igual de ancho entre todas */
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
    gap: 24px; /* Espaciado uniforme entre tarjetas */
    width: 100%;
}