@import "tailwindcss";


/* CONFIGURACIÓN NUEVA */

@theme {
  --color-primary: #F26422;
  --color-secondary: #663F28;
  
--color-background-light: #FEF9EC; 
  
  --color-background-dark: #1A1513;

  --font-display: "Outfit", sans-serif;

  --radius-default: 1rem;
  --radius-xl: 1.5rem;
  --radius-2xl: 2.5rem;
}

