@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
/* CONFIGURACIÓN NUEVA */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@theme {
  --color-primary: #F26422;
  --color-secondary: #663F28;
  
  
  /* --color-background-light: #fef0ec; */
  --color-background-light: #f4e7c4;
  
  --color-background-dark: #1A1513;

  --font-display: "Outfit", sans-serif;

  --radius-default: 1rem;
  --radius-xl: 1.5rem;
  --radius-2xl: 2.5rem;
}

/* --color-background-light: #FEF9EC; 
  
  --color-background-dark: #1A1513; */